.single-minute-base-five-indicator {
  height: 50px;
  width: 20px;
  background-color: #7f7f7f;
}

.is-active-primary {
  background-color: #ffa200;
}

.is-active-accent {
  background-color: #fc0303;
}
