.rectangle-indicator {
  height: 50px;
  width: 75px;
  background-color: #7f7f7f;
}

.small-sized {
  width: 20px;
}

.is-active-primary {
  background-color: #ffa200;
}

.is-active-accent {
  background-color: #fc0303;
}
