.indicator {
  background-color: #7f7f7f;
  border: 0.25em solid #CFCFCF;
}

.rectangle-indicator {
  height: 3em;
  width: 4.75em;
  border-radius: 0.25em;
}

.circle-indicator {
  height: 5em;
  width: 5em;
  border-radius: 50%;
}

.small-rectangle {
  height: 3em;
  width: 1.25em;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.small-circle {
  height: 2em;
  width: 2em;
}

.is-active-primary {
  background-color: #ffa200;
}

.is-active-accent {
  background-color: #fc0303;
}
