<div class="d-flex flex-column">
  <div class="d-flex flex-row">
    <berlin-clock-indicator
      *ngFor="let item of minutesBaseFiveData"
      [model]="item"
      [active]="currentTimeInMinutes | async | isMin: item.minValue"></berlin-clock-indicator>
  </div>
  <div class="d-flex flex-row">
    <berlin-clock-indicator
      *ngFor="let item of minutesBaseOneData, let i = index"
      [model]="item"
      [active]="currentTimeInMinutes | async | isModuloMin: item.model"></berlin-clock-indicator>
  </div>
</div>
